@import url('https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap');

body {
  background-color: #40b68d;
  color: #ffff66;
  font-family: 'Syne Mono', monospace;

  text-align: center;
}

.container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  border: 5px solid #94DEA5;
  border-radius: 10px;
  background-color: #2a906c;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
}

h1 {
  font-size: 30px;
  color: #94DEA5;
  text-shadow: 2px 2px 4px black;
}

input {
  width: 80%;
  padding: 10px;
  font-size: 14px;
  border: 3px solid #94DEA5;
  background: #1b8460;
  color: #ffff66;
  outline: none;
  font-family: inherit;
}

button {
  margin-top: 10px;
  padding: 10px;
  border: 3px solid #ffff66;
  background: #94DEA5;
  color: #1b8460;;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background: #94DEA5;
}

.song-list {
  margin-top: 20px;
}

.song-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #1b8460;;
  border: 3px solid #94DEA5;
  padding: 10px;
  margin-bottom: 10px;
}

.song-item img {
  width: 50px;
  border-radius: 5px;
}

.error {
  color: red;
  font-size: 12px;
  margin-top: 10px;
}
